You are in currently loggned as <h2><%= @user.name %></h2> from email: <%= @user.email %>

In <b>SSO-Client-Alpha</b>

<h3><%= link_to("Logout", simple_sso.logout_authentications_path, method: :delete) %></h3>
